<div class="layuimini-container">
    <div class="layuimini-main">
        <form id="app-form" class="layui-form layuimini-form" action="javascript:;">

            <div class="layui-form-item layui-row layui-col-xs12">
                <label class="layui-form-label required">服务器</label>
                <div class="layui-input-block">
                    <select id="server_id" name="server_id" lay-verify="required" lay-reqtext="请选择服务器。" lay-search>
                        <option value="">请选择服务器</option>
                        {foreach $serverList as $vo}
                            <option value="{$vo.id}">{$vo.id}. {$vo.name|raw}</option>
                        {/foreach}
                    </select>
                </div>
            </div>

            <div class="layui-form-item text-center">
                <button class="layui-btn layui-btn-sm" style="background-color: #009688;" ref-anim="2" ref-type="refreshConfig">
                    刷新配置缓存
                </button>

                <button class="layui-btn layui-btn-sm" style="background-color: #ffb800;" ref-anim="2" ref-type="refreshLuaHelper">
                    刷新 Lua 缓存
                </button>

                <button class="layui-btn layui-btn-sm" style="background-color: #1E9FFF;" ref-anim="6" ref-type="refreshTableStructure">
                    刷新数据表结构
                </button>

                <button class="layui-btn layui-btn-sm" style="background-color: #70628e;" ref-anim="1" ref-type="refreshActivityRedis">
                    刷新活动缓存
                </button>

                <button class="layui-btn layui-btn-sm" style="background-color: #1636a5;" ref-anim="4" ref-type="updateServerNewest">
                    更新服务器到最新
                </button>
                
                <button class="layui-btn layui-btn-sm" style="background-color: #5fb878;" ref-anim="4" ref-type="refreshAsynPvpRobot">
                    刷新异步pvp机器人
                </button>
            </div>

        </form>
    </div>
</div>