<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <!-- 奖励数量 -->
        <input type="hidden" name="rew_num" id="rew_num" value="2">

        <!-- 奖励Json -->
        <input type="hidden" name="rew_json" id="rew_json" value="{$row.rewards ?? ''}">

        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <select name="use_num">
                    <option value="0" {if $row.use_num == 0}selected{/if}>未兑换</option>
                    <option value="1" {if $row.use_num == 1}selected{/if}>已兑换</option>
                    <option value="{$row.use_num}" {if $row.use_num > 1}selected{/if}>兑换人数 {$row.use_num}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label required">渠道</label>
            <div class="layui-input-block">
                <select name="channel_key" lay-search>
                    <option value="">全部渠道</option>
                    {foreach $channelList as $ckey => $cname}
                        <option value="{$ckey}" {if $row.channel_key == $ckey}selected{/if}>{$cname}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">兑换类型</label>
            <div class="layui-input-block">
                <select name="redeem_type">
                    {foreach $redeemTypes as $ckey => $cname}
                        <option value="{$ckey}" {if $row.redeem_type == $ckey}selected{/if}>{$cname}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="hr-line"></div>

        <div class="layui-form-item">
            <label class="layui-form-label">生效时间</label>
            <div class="layui-input-block">
                <div class="layui-input-inline">
                    <input type="text" name="start_time" class="layui-input" autocomplete="off" placeholder="开始兑换的时间" value="{$row.start_time}">
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline">
                    <input type="text" name="end_time" class="layui-input" autocomplete="off" placeholder="最后兑换的时间" value="{$row.end_time}">
                </div>
                <div class="layui-form-mid"><tip style="margin-top: 0px;">可不填，默认不限制</tip></div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label required">备注</label>
            <div class="layui-input-block">
                <textarea name="descr" class="layui-textarea" placeholder="请输入兑换码的备注">{$row.descr}</textarea>
            </div>
        </div>

        <div class="hr-line"></div>

        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label">添加道具</label>
            <div class="layui-input-block">
                <select lay-filter="add-rews">
                    <option value="">请选择添加的数量</option>
                    <option value="1">添加 1 条</option>
                    <option value="2">添加 2 条</option>
                    <option value="5">添加 5 条</option>
                    <option value="10">添加 10 条</option>
                </select>
            </div>
        </div>

        <!-- 奖励选项 -->
        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label required">邮件道具</label>
            <div class="layui-input-block">
                <table class="layui-table" v-for="( item, index ) in rew_list">
                    <tbody>
                        <tr align="center">
                            <td width="20" rowspan="3" title="删除道具" class="select-animal-delete" v-on:click="delete_rew( index )">
                                <i class="layui-icon">&#xe640;</i>
                            </td>
                        </tr>
                        <tr>
                            <td width="60%">
                                <select v-bind:name="item.key_itemid" lay-search>
                                    <option value="">请选择道具 {{index + 1}}</option>
                                    <template v-for="(cfig_val, cfig_key) in config_items">
                                        <option v-if="cfig_val.id == item.itemid" selected="selected" 
                                            v-bind:value="cfig_val.id">id: {{cfig_val.id}} | name: {{cfig_val.name}} | desc: {{cfig_val.desc}}</option>
                                        <option v-else v-bind:value="cfig_val.id">id: {{cfig_val.id}} | name: {{cfig_val.name}} | desc: {{cfig_val.desc}}</option>
                                    </template>
                                </select>
                            </td>
                            <td>
                                <input v-if="item.itemcnt > 0" class="layui-input" type="number" placeholder="请输入数量" v-bind:name="item.key_itemcnt" v-bind:id="item.key_itemcnt" v-bind:value="item.itemcnt">
                                <input v-else class="layui-input" type="number" placeholder="请输入数量" v-bind:name="item.key_itemcnt" v-bind:id="item.key_itemcnt">
                                <div class="table-right-input-label">数量</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>