<div class="layuimini-container">
    <div class="layuimini-main">
        <input type="hidden" id="act_id" value="{$id}">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('system.admin/add')}"
               data-auth-edit="{:auth('system.admin/edit')}"
               data-auth-delete="{:auth('system.admin/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>
<script type="text/html" id="toolbar">
    <button class="layui-btn layui-btn-sm layuimini-btn-primary" data-table-refresh="currentTableRenderId"><i class="fa fa-refresh"></i> </button>
    <button class="layui-btn layui-btn-normal layui-btn-sm" data-publish="true"><i class="fa fa-paper-plane-o"></i> 发布到服务器</button>
</script>
