<div class="layuimini-container">
    <div class="layuimini-main">
        <input type="hidden" id="act_types" value="{$actTypes}">
        <input type="hidden" id="rotate_types" value="{$rotateTypes}">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('activity.recruit/add')}"
               data-auth-edit="{:auth('activity.recruit/edit')}"
               data-auth-copy="{:auth('activity.recruit/copy')}"
               data-auth-delete="{:auth('activity.recruit/delete')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>