<div class="layuimini-container">
    <div class="layuimini-main">
        <input type="hidden" id="goal_list" value="{$goalList}">
        <input type="hidden" id="limit_list" value="{$limitList}">
        <input type="hidden" id="config_items" value="{$configItems}">
        <input type="hidden" id="activity_list" value="{$activityList}">
        <table id="currentTable" class="layui-table layui-hide"
               data-auth-add="{:auth('activity.totalrecharge/addquest')}"
               data-auth-edit="{:auth('activity.totalrecharge/editquest')}"
               data-auth-copy="{:auth('activity.totalrecharge/copyquest')}"
               data-auth-delete="{:auth('activity.totalrecharge/deletequest')}"
               lay-filter="currentTable">
        </table>
    </div>
</div>