<style>
    .layui-input-inline-block {
        display: inline-block;
    }
</style>
<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label required">服务器</label>
            <div class="layui-input-block">
                <select name="server_id" lay-verify="required" lay-reqtext="请选择服务器。" lay-filter="select-server" lay-search>
                    <option value="">请选择服务器</option>
                    {foreach $serverList as $sid => $sname}
                        <option value="{$sid}">{$sname}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">冲突配置</label>
            <div class="layui-input-block">
                <select name="ctype" lay-verify="required" lay-reqtext="请选择冲突的配置。" lay-filter="select-server" lay-search>
                    <option value="">请选择冲突的配置</option>
                    {foreach $configTypes as $key => $cname}
                        <option value="{$key}">{$cname}. {$key}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">冲突配置</label>
            <div class="layui-input-block">
                <textarea name="remover" class="layui-textarea" lay-verify="required" lay-reqtext="请输入需要清除的配置ID。" placeholder="请输入需要清除的配置ID"></textarea>
            </div>
        </div>

        <div class="layui-form-item layui-row layui-col-xs12">
            <label class="layui-form-label required">验证码</label>
            <div class="layui-input-block">
                <input type="text" id="clean_captcha" name="captcha" class="layui-input layui-input-inline-block" lay-verify="required" lay-reqtext="验证码不能为空。" placeholder="请输入验证码" maxlength="4">
                <img id="refreshCaptcha" class="validateImg" title="点击刷新验证码" src="{:url('server.conflict/captcha')}" onclick="this.src='{:url(\'server.conflict/captcha\')}?seed='+Math.random()">
            </div>
        </div>

        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit title-confirm="确认要清除该配置吗？<hr/><p style='color: red;'>该操作会清除掉全部玩家的冲突配置并无法找回，请谨慎操作！</p>">确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>