<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label required">ID</label>
            <div class="layui-input-block">
                <input type="text" name="id" class="layui-input" lay-verify="required" lay-reqtext="服务器唯一ID不能为空。" placeholder="请输入服务器ID" value="{$row.id|default=''}">
                <tip>请填写服务器唯一ID。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" class="layui-input" lay-verify="required" lay-reqtext="服务器名称不能为空。" placeholder="请输入服务器名称" value="{$row.name|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="number" name="sort" class="layui-input" lay-reqtext="服务器排序不能为空" placeholder="请输入服务器的排序" value="{$row.sort|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">多语言</label>
            <div class="layui-input-block">
                <select name="is_lan">
                    <option value="0" {if $row.is_lan == '0'}selected{/if}>关闭</option>
                    <option value="1" {if $row.is_lan == '1'}selected{/if}>开启</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">短连接</label>
            <div class="layui-input-block">
                <input type="text" name="shost" class="layui-input" lay-verify="required" lay-reqtext="服务器短连接地址不能为空。" placeholder="请输入短连接地址" value="{$row.shost|default=''}">
                <tip>请填写服务器正确的短连接地址。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">长连接</label>
            <div class="layui-input-block">
                <input type="text" name="lhost" class="layui-input" lay-verify="required" lay-reqtext="服务器长连接地址不能为空。" placeholder="请输入长连接地址" value="{$row.lhost|default=''}">
                <tip>请填写服务器正确的长连接地址。</tip>
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>